.container {
  height: 100vh;
}

.main {
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.itemWrapper {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 12px 16px;
}
